<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created by Brian Hays
and is based on guidelines from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
