<footer class="section-blured  section-top-shaddow" style="display: block;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h4>
					<span>Navigation</span>
				</h4>
				<ul class="footer-nav-links list-unstyled">
					<li>
						<%= link_to 'Home', root_path %>
					</li>
					<li>
						<%= link_to 'About', page_path('about') %>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h4>
					<span>Useful Links</span>
				</h4>
				<ul class="footer-nav-links list-unstyled">
					<li>
						<a href="#">Amazing</a>
					</li>
					<li>
						<a href="#">Unbelievable</a>
					</li>
					<li>
						<a href="#">Most Useful Link Ever!</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h4>
					<span>Useful Links</span>
				</h4>
				<ul class="footer-nav-links list-unstyled">
					<li>
						<a href="#">Awesome</a>
					</li>
					<li>
						<a href="#">Awesome-er</a>
					</li>
					<li>
						<a href="#">Linktastic</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h4>
					<span>Our office</span>
				</h4> <address> <strong>Rails-Bootstrap</strong><br /><i class="icon-map-marker"></i> 111 Internet<br /> Online, Worldwide<br /><i class="icon-phone-sign"></i> (123) 456-7890</address><hr />
				<ul class="list-unstyled social-links list-inline">
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-dribbble"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-github"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-flickr"></i></a>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
</footer>